<aside class="fixed top-14 h-screen overflow-y-auto pr-2 bg-indigo-300 shadow-inner" >
    <nav class="w-12 lg:w-72 py-6 text-gray-600 text-sm" >
        <ul>
            <li >
                <a href="/boards" class="fs-5 relative flex justify-center lg:justify-start items-center font-medium pl-3 lg:pl-6 pr-3 py-2 transition-all ease-out duration-200 rounded-r-full overflow-hidden transition-all ease-out duration-200 hover:bg-gray-100">
                    <span class="lg:inline ml-3" >
                        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </span>
                    Home
                </a>
            </li>
            <li >
                <a href="/boards" class="fs-5 relative flex justify-center lg:justify-start items-center font-medium pl-3 lg:pl-6 pr-3 py-2 transition-all ease-out duration-200 rounded-r-full overflow-hidden transition-all ease-out duration-200 hover:bg-gray-100">
                    <span class="lg:inline ml-3" >
                        <mat-icon aria-hidden="false" aria-label="Example home icon">fingerprint</mat-icon>
                    </span>
                    Boars
                </a>
            </li>
            <li >
                <a href="/profile" class="fs-5 relative flex justify-center lg:justify-start items-center font-medium pl-3 lg:pl-6 pr-3 py-2 transition-all ease-out duration-200 rounded-r-full overflow-hidden transition-all ease-out duration-200 hover:bg-gray-100">
                    <span class="lg:inline ml-3" >
                        <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                    </span>
                    Profile
                </a>
            </li>
        </ul>
    </nav>
</aside>